<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >CYBERNEXA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
</head>
<header>
 
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color:#C5C6C7 ; padding-left:10px; font-size: 24px;!important color: white; !important ">CYBERNEXA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About</a>
            </li>
          </ul>
          <form class="d-flex">
            
            <button class="btn btn-outline-success" type="button" onclick="myfunction()">LOGIN</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

<body>
  <div  id="myCarousel" class="carousel slide pointer-event" data-bs-ride="carousel" style="height:400px ;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <svg class="bd-placeholder-img" style=" background-image:url('../static/8.jpeg');background-repeat: no-repeat; background-size:cover;"width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><image src="../static/1.jpeg" style="background-repeat: no-repeat;width: 400px; height400px;"></image></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>How Safe Are Your Assets?</h1>
            <p>Scan now to find out!</p>
            
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" style=" background-image:url('../static/7.jpeg'); background-repeat: no-repeat; background-size:cover;" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><image src="../static/1.jpeg" style="background-repeat: no-repeat;width: 400px; height400px;"></image></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Cybernexa:</h1>
            <p>Hi! I make your tecnical acess safe.</p>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img"style=" background-image:url('../static/2.jpeg'); background-repeat: no-repeat;background-size:cover;" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><image src="../static/1.jpeg" style="background-repeat: no-repeat;width: 400px; height400px;"></image></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Keep Your Networks Secure.</h1>
            <p>Scan now to be cybersafe.</p>
            
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

   
      
     
        
          <div class="container marketing">
        
      
           
            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">What's the need?. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">A crucial component of cybersecurity is vulnerability scanning. This process involves systematically examining a network or system to identify and assess weaknesses that could be exploited by malicious actors. Vulnerability scanners are tools designed to detect vulnerabilities within a network, software, or hardware. They work by comparing the details of the target against a database of known vulnerabilities and producing a report that highlights potential risks.</p>
                <p class="lead">Vulnerability scanning helps organizations proactively identify and address security flaws before they can be exploited. By mitigating these vulnerabilities, organizations can significantly reduce their risk of cyberattacks and enhance their overall security posture.</p>
              </div>
              <div class="col-md-5 order-md-1">
                <img src="../static/1.jpeg"  width="500" height="400">
              </div>
            </div>
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Signup <span class="text-muted">:</span></h2>
                <p class="lead">And yes, if you haven't signed up yet.
                  Do sign up!!!
                </p>
                <button class="w3-btn w3-round-xlarge" onclick="myfunction1()">Sign Up</button>
              </div>
              <div class="col-md-5">
                <img src="../static/3.jpeg" width="500px" height="350px "  >
        
              </div>
            </div>
        
            <hr class="featurette-divider">
        

        
          </div>
        
        

          
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        
        
            <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        
              
          
        
       
</body>
<script>
    function myfunction(){
        window.location.href='/login';
    }
    function myfunction1(){
        window.location.href='/registration';
    }
</script>
<footer >
  <div class="footer" >
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>© 2024–2025 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>

</div>
</footer>

</html>